{% extends 'base.html.twig' %}

{% block banner %}
<div class="path">
    <a href="/">Home</a> /

    {% for folder in path.exploded %}
        <a href="{{ path.exploded | buildPath(loop.index0) }}">{{ folder }}</a> /
    {% endfor %}
</div>
{% endblock %}

{% block content %}
    {% if readme is not null %}
        <div id="readme">
            <div id="readme-header">
                README
            </div>
            <div id="readme-content">
                {{ readme | raw }}
            </div>
        </div>
    {% endif %}
    <div class="flex-container">
        <div class="file-info header">
            <div class="icon"></div>
            <div class="name">Name</div>
            <div class="size">Size</div>
            <div class="last-modified">Last Modified</div>
        </div>
        {% for file in files %}
            <a href="{{ file | getFilePath(path.full) }}" data-filename="{{ file.name}}" {%if file.filePreview %} data-preview="{{ file.filePreview }}" {% endif %}>
                <div class="file-info">
                    <div class="icon"><i class="{{ file.icon }}"></i></div>
                    <div class="name">{{ file.name }}</div>
                    <div class="size">
                    {% if file.isFolder %}
                        _
                    {%else%}
                        {{ file.size | humanFileSize }}
                    {% endif %}
                    </div>
                    <div class="last-modified">{{ file.lastModified }}</div>
                </div>
            </a>
        {% endfor %}
    </div>

    <template id="filepreview">
        <h2></h2>

        <div id="content" style="margin-bottom: 1em;">

        </div>

        <a class="button">Download</a>
    </template>
{% endblock %}