{% extends 'base.html.twig' %}

{% block content %}
    <div class="flex-container">
        <div class="file-info">
            <div id="icon"></div>
            <div id="name">Name</div>
            <div id="size">Size</div>
            <div id="last-modified">Last Modified</div>
        </div>
        {% for file in files %}
            <a href="{{ file.isFolder ? '?dir=' : '' }}{{ directory }}{{file.name }}">
                <div class="file-info">
                    <div id="icon"><i class="{{ file.icon }}"></i></div>
                    <div id="name">{{ file.name }}</div>
                    <div id="size">
                    {% if file.size >= 1000000 %}
                        {{ file.size / 1000000 }}MB
                    {%else%}
                        {% if file.size >= 1000 %}
                            {{ file.size / 1000 }}KB
                        {%else%}
                            {{ file.size }}B
                        {% endif %}
                    {% endif %}
                    </div>
                    <div id="last-modified">{{ file.lastModified }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}