<div class="flex-container overrides-share">
    <h3 id="audio-title"></h3>
    <audio controls id="audio-player"></audio>
    <div class="file-info header">
        <div class="icon"></div>
        <div class="name">Name</div>
    </div>
    {% for file in files %}
        <span data-song="{{ file | getFilePath(path.full) }}" data-filename="{{ file.name }}"
            class="folder-element {% if file.extension | canBeDisplayed(displayName) %}audio-preview{% endif %}"
            {% if file.filePreview %}
            data-preview="{{ file.filePreview }}"
            {% endif %}
            {% if file.preview %}
            id="selected-preview"
            {% endif %}
        >
            <div class="file-info">
                <div class="icon">
                    {%if file.extension | canBeDisplayed(displayName) %}
                        <i class="fa-solid fa-play"></i>
                    {% else %}
                        <i class="{{ file.icon }}"></i>
                    {% endif %}
                </div>
                <div class="name">{{ file.name }}</div>

                <span class="buttons">
                    <a class="button download" download href="{{ file | getFilePath(path.full) }}"><i class="fa-solid fa-download"></i></a>
                    <a class="button share"><i class="fa-solid fa-share-nodes"></i></a>
                </span>
            </div>
        </span>
    {% endfor %}
</div>
<script src="_internal/js/displays/audioDisplay.js"></script>