<div class="display-image-flex-container">
    {% for file in files %}
        <div class="display-image">
            {%if file.name == ".." %}
                <a href="{{ file | getFilePath(path.full) }}">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            {% elseif not file.extension | isImage %}
                <a href="{{ file | getFilePath(path.full) }}">
                    <i class="{{ file.icon }}"></i>
                    <p>
                        {{ file.name }}
                    </p>
                </a>
            {% else %}
                <a href="{{ file | getFilePath(path.full) }}" data-filename="{{ file.name }}" {%if file.filePreview %} data-preview="{{ file.filePreview }}" {% endif %}>
                    <img src="{{ file | getFilePath(path.full) }}"/>
                </a>
            {% endif %}
        </div>
    {% endfor %}
<div>