<div class="display-image-flex-container">
    {% for file in files %}
        {%if file.name == ".." %}
            <a class="display-image-icon" href="{{ file | getFilePath(path.full) }}">
            <i class="fa-sharp fa-solid fa-arrow-left"></i>
            </a>
        {% else %}
            <a class="display-image" href="{{ file | getFilePath(path.full) }}" data-filename="{{ file.name }}" {%if file.filePreview %} data-preview="{{ file.filePreview }}" {% endif %}>
                <img src="{{ file | getFilePath(path.full) }}"/>
            </a>
        {% endif %}
    {% endfor %}
<div>